*.bak
*.png
__pycache__
*.egg-info
tmp/
.vscode
demo/example_problems.html
benchmarks/results
env/
tests/_invariant_demo.ipynb
tests/debug/
tmp.ipynb

benchmarks/benchmarks.md
benchmarks/benchmarks.pdf
