*.bak
*.png
__pycache__
*.egg-info
tmp/
.vscode
demo/example_problems.html
benchmarks/benchmarks.md
benchmarks/benchmarks.pdf
benchmarks/timeit_gls.txt
benchmarks/timeit_mma.txt
env/
tests/_invariant_demo.ipynb
